/* Color palette
1b262c 353941
0f4c75 26282b
3282b8 5f85db
bbe1fa 90b8f8
*/
@import url("https://fonts.googleapis.com/css?family=Archivo+Black|Lora:700|Oxygen|Roboto+Slab:300&display=swap");
body {
    background-color: #26282b;
    color: #fff;
}

h1 {
    font-family: "Archivo Black", sans-serif;
}

h3 {
    font-family: "Lato", serif;
}

h5 {
    font-family: "Oxygen", sans-serif;
}

P {
    font-family: "Roboto Slab", serif;
}
#welcome-section {
    /* background-color: black; */
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "info pic";
    height: 100vh;
    width: 100%;
    background-image: url("https://miro.medium.com/max/2400/1*ee9Ji2ToUxeYfj3YUQ1xsA.jpeg");
    /* padding-bottom: 2rem; */
    margin-bottom: 4rem;
}

#intro {
    grid-area: info;
    display: block;
    margin: auto;
    color: #fff;
}

#dp {
    grid-area: pic;
    display: block;
    margin: auto;
    border-radius: 50%;
}

nav {
    background: #0f4c75;
}

.padding {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.fab {
    font-size: 6rem;
}

#about > p {
    padding-top: 2rem;
}

#contact .fab,
.fas {
    font-size: 2rem;
}

#contact {
    background: #353941;
    color: #fff;
}

#contact > hr {
    width: 85%;
    background: #fff;
}

.fa-github,
.fa-instagram,
.fa-twitter,
.fa-free-code-camp,
.fa-linkedin-in,
.fa-at {
    color: #aaa;
}

.fa-html5 {
    color: #e54d26;
}

.fa-css3 {
    color: #2163af;
}

.fa-bootstrap {
    color: #7952b3;
}

.fa-js-square {
    color: #f7df1d;
}

.fa-git-alt {
    color: #f05033;
}

hr {
    background: #aaa;
    width: 75%;
}

.lead {
    padding: 2rem;
}

h5 {
    color: #bbb;
}

.tool-caption > p {
    display: block;
    /* height: 450px;
    width: 450px; */
    margin: auto;
    text-align: left;
    align-content: center;
    padding-left: 4rem;
    padding-right: 4rem;
}

.tool-caption > h5 {
    padding: 1rem;
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

/* project cards */
.project-cards {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.cards {
    flex: 0 0 1;
    /* background-color: #fff; */
    border: 1px solid #fff;
    border-radius: 15px;
    margin: 2% 4%;
    width: 20%;
    height: max-content;
    padding: 1em;
}
.project-links {
    display: flex;
    justify-content: space-evenly;
}
.project-links a,
a {
    color: #aaa;
}

.contact-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1em;
    flex-wrap: wrap;
}
.stack {
    background-color: #ccc;
    width: max-content;
    padding: 0.2em 0.8em;
    border-radius: 15px;
    color: #000;
    font-weight: bold;
}
/* hero image */
#dp {
    width: 20em;
}
@media screen and (max-width: 760px) {
    #welcome-section {
        height: 100vh;
        grid-template-columns: none;
        grid-template-rows: 1fr 2fr;
        grid-template-areas: "info" "pic";
    }

    #intro {
        text-align: center;
    }

    .carousel-control-prev,
    .carousel-control-next {
        position: absolute;
        bottom: -13rem;
    }

    .padding {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .cards {
        flex-direction: column;
        width: 90%;
        margin: 5% 0;
        align-items: center;
    }
}
