@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    scroll-behavior: smooth;
    font-size: 1em;
    font-family: "Montserrat", sans-serif;
    color: #222;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.opac {
    opacity: 0.6 !important;
}

.mainHeading {
    margin-bottom: 20px;
    width: max-content;
    font-size: 3em !important;
    position: relative;
}

.mainHeading::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 110%;
    height: 2px;
    width: 200px;
    background-color: #222;
}

.w80 {
    width: 80%;
    margin: 0 auto;
    padding: 4em 0;
}

.fab {
    font-size: 2em;
    margin-right: 20px;
}

.primaryBtn {
    display: block;
    width: max-content;
    padding: 0 2em;
    height: 55px;
    line-height: 55px;
    margin-top: 40px;
    border: 1px solid #222;
    transition: all 0.4s;
}

.primaryBtn:hover {
    background-color: black;
    color: white;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 80px;
    z-index: 10;
}

nav .navWrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .w80 {
    padding: 0;
}

.navWrapper ul a {
    text-transform: capitalize;
    margin-right: 30px;
    transition: all 0.4s;
}

.navWrapper ul a:hover {
    font-size: 1.2em;
    font-weight: 700;
}

.navWrapper ul a:last-child {
    margin: 0;
}

/* Hero section styles */
#hero {
    height: 100vh;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.heroContent {
    width: 50%;
}

img {
    width: 30%;
    height: auto;
    border-radius: 50%;
}

/* About section styles */
#about {
    height: 100vh;
    background-color: #000;
}

#about .mainHeading::before {
    background-color: #fff;
}

#about .aboutWrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#about .aboutWrapper * {
    color: #fff;
}

#about .aboutWrapper .aboutContent {
    width: 50%;
}

#about img {
    width: 30%;
    height: auto;
    border-radius: 50%;
}

#projects {
    height: auto;
    padding-top: 100px;
}

.projectsGridContainer {
    padding: 4em 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-auto-rows: 450px;
    grid-gap: 40px;
}

.projectsGridContainer .projectsContainer {
    position: relative;
    overflow: hidden;
    box-shadow: 0 5px 15px 0 #222;
}

.projectsGridContainer .projectsContainer img {
    border-radius: 0;
    width: 100%;
    height: 100%;
    transform: scale(1.1);
    transition: all 0.4s;
}

.projectContainerOverlay {
    position: absolute;
    bottom: -40%;
    left: 0;
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #000;
    text-align: center;
    padding: 1em 2em;
    transition: all 0.4s;
}

.projectContainerOverlay * {
    color: #fff;
}

.projectContainerOverlay h1 {
    font-size: 1.5em;
}

.projectContainerOverlay .projectCTA a {
    margin: 20px auto 0 auto;
}

.projectCTA a:hover {
    background-color: #fff;
    color: #222;
}

.projectsContainer:hover .projectContainerOverlay {
    bottom: 0;
}

.projectsContainer:hover img {
    transform: scale(1);
}

.fa-html5 {
    color: #e54d26;
}

.fa-css3 {
    color: #2163af;
}

.fa-bootstrap {
    color: #7952b3;
}

.fa-js-square {
    color: #f7df1d;
}

.fa-git-alt {
    color: #f05033;
}

#tools {
    height: auto;
}

.toolsGridContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}

.toolsTag {
    margin-right: 40px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    padding: 1em;
    border: 2px solid #222;
    border-radius: 10px;
}

#contact {
    height: auto;
}

footer {
    background-color: #000;
    height: auto;
}

.footerWrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2em 0;
}

.footerWrapper * {
    color: #fff;
}

.footerWrapper i {
    font-size: 1.5em;
}
