/* Color palette
1b262c 353941
0f4c75 26282b
3282b8 5f85db
bbe1fa 90b8f8
*/
@import url("https://fonts.googleapis.com/css?family=Archivo+Black|Lora:700|Oxygen|Roboto+Slab:300&display=swap");
body {
    background-color: hsl(216, 6%, 16%);
    color: #fff;
    font-family: "Roboto Slab", serif;
}

h1 {
    font-family: "Archivo Black", sans-serif;
}

#welcome-section {
    background-image: url("https://miro.medium.com/max/2400/1*ee9Ji2ToUxeYfj3YUQ1xsA.jpeg");
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 100vh;
    align-items: center;
}

nav {
    background: #0f4c75;
}

.padding {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.fab {
    font-size: 6rem;
}

/* About section */
.about {
    display: flex;
    flex-direction: row;

    margin: 0 10%;
}

.dp {
    border-radius: 50%;
    width: 8em;
}

.lead {
    padding: 0 1em;
}

#intro {
    display: flex;
    flex-direction: column;
}

#contact .fab,
.fas {
    font-size: 2rem;
}

#contact {
    color: #fff;
}

#contact > hr {
    width: 85%;
    background: #fff;
    height: 0.5px;
    border: none;
    opacity: 0.5;
}
.topic {
    padding-bottom: 1em;
}
.fa-github,
.fa-instagram,
.fa-twitter,
.fa-free-code-camp,
.fa-linkedin-in,
.fa-at {
    color: #eee;
}

hr {
    background: #aaa;
    width: 75%;
}

h5 {
    color: #bbb;
}

.tool-caption > p {
    display: block;
    /* height: 450px;
    width: 450px; */
    margin: auto;
    text-align: left;
    align-content: center;
    padding-left: 4rem;
    padding-right: 4rem;
}

.tool-caption > h5 {
    padding: 1rem;
}

/* project cards */
.project-cards {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.cards {
    flex: 0 0 1;
    /* background-color: #fff; */
    border: 1px solid #fff;
    border-radius: 15px;
    margin: 2% 4%;
    width: 20%;
    height: 30vh;
    height: max-content;
    padding: 1em;
}
.project-links {
    display: flex;
    justify-content: space-evenly;
}
.project-links a,
a {
    color: #aaa;
}
.project-links-review {
    text-shadow: 1px 0 10px #eee;
}
.contact-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1em;
    flex-wrap: wrap;
}
.stack {
    background-color: #ccc;
    width: max-content;
    padding: 0.2em 0.8em;
    border-radius: 15px;
    color: #000;
    font-weight: bold;
}

@media screen and (max-width: 760px) {
    #welcome-section {
        flex-direction: column;
    }
    #intro h1 {
        font-size: 32px;
        white-space: nowrap;
    }
    #dp {
        width: 16em;
    }

    .carousel-control-prev,
    .carousel-control-next {
        position: absolute;
        bottom: -13rem;
    }

    .padding {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .cards {
        flex-direction: column;
        width: 90%;
        margin: 5% 0;
        align-items: center;
    }
    .lead {
        margin: 0;
    }
}
