.navbar {
    display: flex;
    justify-content: space-between;

    .logo {
        font-size: 1em;
        font-weight: bold;
    }

    .links {
        width: 20vw;
        display: flex;
        justify-content: space-between;

        & > a {
            color: #f00;
            text-decoration: none;
        }
    }
}
