@import url("https://fonts.googleapis.com/css?family=Archivo+Black|Lora:700|Oxygen|Roboto+Slab:300&display=swap");
* {
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto Slab", serif;
    background-color: #edf2f7;
}

h2 {
    font-family: "Archivo Black", sans-serif;
}
/* Typewritter animation */
.typewriter h1 {
    overflow: hidden;
    border-right: 0.15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.15em;
    animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: orange;
    }
}

/* welcome section */
#welcome-section {
    background-color: #16161d;
    background-size: cover;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 100vh;
    align-items: center;
}
.welcome-section-hr {
    background-color: #edf2f7;
    border: none;
    height: 0.1px;
}
.navbar.navbar-expand-lg.navbar-dark.bg-dark {
    background-color: #16161d !important;
}
.padding {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.fab {
    font-size: 6rem;
}
#projects .lead,
#blogs .lead {
    margin-left: 10%;
    padding-left: 2em;
}
/* About section */
.about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 10%;
}
.about .lead {
    width: 80%;
}
.dp {
    border-radius: 50%;
    padding: 1em 0;
    width: 8em;
}

#intro {
    display: flex;
    flex-direction: column;
    color: #bbb;
}

#contact .fab,
.fas {
    font-size: 2rem;
}

#contact {
    color: #edf2f7;
}

.topic {
    padding: 1em 0;
}
.fab,
.fa {
    color: #aaa;
}

.tool-caption > p {
    display: block;
    /* height: 450px;
    width: 450px; */
    margin: auto;
    text-align: left;
    align-content: center;
    padding-left: 4rem;
    padding-right: 4rem;
}

.tool-caption > h5 {
    padding: 1rem;
}

/* project cards */
#projects {
    background-color: #16161d;
    color: #bbb;
    padding: 1em 0;
}
.project-cards,
.blog-cards {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.cards {
    flex: 0 0 1;
    /* background-color: #EDF2F7; */
    border: 1px solid #edf2f7;
    border-radius: 15px;
    margin: 2% 4%;
    width: 20%;
    height: 30vh;
    height: max-content;
    padding: 1em;
}

.blog-cards .cards {
    border: 1px solid #16161d;
}

.project-links,
.blog-links {
    display: flex;
    justify-content: space-evenly;
}
.project-links a,
a {
    color: #aaa;
}
.blog-links a {
    color: #16161d;
    font-weight: bold;
}
.project-links-review {
    /* color: #cc6124 !important; */
}

.reviewed-projects {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.reviewed-projects .cards {
    /* border: 4px solid #cc6124; */
}
.contact-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1em;
    flex-wrap: wrap;
}
.stack {
    background-color: #999;
    width: max-content;
    padding: 0.2em 0.8em;
    border-radius: 15px;
    color: #16161d;
    font-weight: bold;
}

footer {
    background-color: #16161d;
    color: #aaa;
    text-align: center;
    padding: 1em 0;
}
footer .fab {
    padding-top: 1em;
    font-size: 1em;
}
@media screen and (max-width: 760px) {
    .typewriter h1 {
        font-size: 18px;
        letter-spacing: 0.05em;
        margin: 0;
    }
    @keyframes typing {
        from {
            width: 0;
        }
        to {
            width: 80%;
        }
    }
    #welcome-section {
        flex-direction: column;
        background-size: auto;
    }
    #intro {
        padding: 0 1em;
    }
    #intro h1 {
        font-size: 28px;
        white-space: nowrap;
        width: 90%;
    }
    #dp {
        width: 16em;
    }
    .about {
        flex-direction: column;
        align-items: center;
    }

    .about .lead {
        width: 90%;
        padding: 0;
    }
    .dp {
        padding: 1em;
    }
    .carousel-control-prev,
    .carousel-control-next {
        position: absolute;
        bottom: -13rem;
    }

    .padding {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .cards {
        flex-direction: column;
        width: 90%;
        margin: 5% 0;
        align-items: center;
    }
    .reviewed-projects {
        flex-direction: column;
        align-items: center;
        margin: 5% 0;
    }
    #projects .lead,
    #blogs .lead {
        margin-left: 0;
        padding: 0 1em;
    }
}
